@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
  padding: 0;
  margin: 0;

  font-family: 'Noto Sans SC';
  font-size: 1em;

  transition: 0.2s;

  box-sizing: border-box;

  --color-light: #F5EFF8;
  --color-main: #EBDEF0;
  --color-dark: #D7BDE2;
  --color-darker: #C39BD3;
  --color-darkest: #AF7AC5;
  --color-x-dark: #9B59B6;
  --color-darkest-2: #5DADE2;

  --color-hover: var(--color-darkest);
  --color-active: var(--color-x-dark);
}

html {
  background-image: url("bricks.png");
  background-size: 128px;
  image-rendering: pixelated;
}

body {
  padding: 1.35em;
}

div.main-panel {
  margin: 2.7em;
  padding: 1.35em;
  background-color: color-mix(in srgb, var(--color-main), transparent 25%);
  backdrop-filter: blur(0.15em);
  border-radius: 0.65em;

  box-shadow: 0 0 1.35em 0.15em rgba(0, 0, 0, 0.5);
}

div.header-panel {
  text-align: center;
}

div.box {
  padding: 0.65em;
  border: 2px solid var(--color-darker);
  border-radius: 0.35em;
}

div.group-box {
  margin-top: 0.65em;
  display: flex;
  flex-wrap: wrap;
}

div.group-box-header {
  position: absolute;
  margin-top: -18pt;
  margin-left: 0.65em;
  font-weight: 900;
  text-shadow: 0 0 0.15em var(--color-light), 0 0 0.15em var(--color-light), 0 0 0.15em var(--color-light), 0 0 0.15em var(--color-light);
  width: max-content;
  padding-left: 0.65em;
  padding-right: 0.65em;
}

span.header-school-name {
  font-size: 1.35em;
}

span.header-project-name {
  font-size: 2.7em;
  font-weight: 900;

  color: transparent;
  background: linear-gradient(to right, var(--color-darkest-2), var(--color-darkest));
  background-clip: text;
}

.centered {
  align-self: center;
}

.grid-publish {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em;
  align-items: center;
  width: 100%;
}

.dont-align {
  align-self: start;
}

.input-box {
  background: none;
  outline: none;
  border: 2px solid var(--color-darker);
  background-color: color-mix(in srgb, var(--color-main), transparent 50%);
  padding: 0.15em;
  border-radius: 0.35em;

  width: 100%;
}

.width-max-content {
  width: max-content;
}

.input-box:hover, .input-box:focus:not(.no-focus) {
  border-color: var(--color-hover);
  box-shadow: 0 0 0.35em 0 rgba(0, 0, 0, 0.25);
}

.input-box:active:not(.no-click) {
  border-color: var(--color-active);
}

.input-box.checkbox {
  appearance: none;

  aspect-ratio: 1;
  width: 1lh;
}

.input-box.checkbox:checked {
  background-color: var(--color-light);
  content: "a";
  box-shadow: 0 0 0.35em 0 rgba(0, 0, 0, 0.25);

  aspect-ratio: 1;
  width: 1lh;
}

.input-box.checkbox {
  appearance: none;
}

textarea.content {
  resize: vertical;
  min-height: 8lh;
}

div.vertical-layout {
  display: flex;
  flex-direction: column;
}

div.horizontal-layout {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.65em;
}

div.horizontal-layout.buttons {
  gap: 0.65em;
}

.fore-button:hover {
  color: var(--color-hover);
}

.fore-button:active {
  color: var(--color-active);
}

.vertical-split {
  height: 1.35em;
}

div.message {
  margin-left: -0.65em;
  margin-right: -0.65em;
  padding: 0.65em;
  padding-left: 1.5em;
}

div.message > div.message-metadata > * {
  margin-right: 0.65em;
  margin-left: -0.2em;
}

div.message > span.message-content {
  margin: 0.65em;
  margin-left: 2em;
  font-size: 1.35em;
  white-space: pre-line;
}

div.window {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
}

div.window-content {
  position: fixed;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0.65em;
  background-color: color-mix(in srgb, var(--color-dark), transparent 50%);
  backdrop-filter: blur(0.35em);
  border-radius: 0.35em;

  width: 24em;

  box-shadow: 0 0 1.35em 0.15em rgba(0, 0, 0, 0.5);
}

div.caption-bar {
  display: flex;
  justify-content: space-between;
}

@keyframes window-show {
  0% {
    margin-top: -1em;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes window-hide {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  100% {
    margin-top: 1em;
    opacity: 0;
  }
}

@keyframes window-backdrop-show {
  0% {
    backdrop-filter: none;
    opacity: 0;
  }
  100% {
    backdrop-filter: blur(4px);
    opacity: 1;
  }
}

@keyframes window-backdrop-hide {
  0% {
    backdrop-filter: blur(4px);
    opacity: 1;
  }
  100% {
    backdrop-filter: none;
    opacity: 0;
  }
}

div.toast-container {
  display: flex;
  flex-direction: column;

  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  align-items: end;
  gap: 0.35em;

  padding-top: 0.35em;
}

div.toast-container > div.toast {
  background-color: var(--color-main);
  border: 0.15em solid var(--color-darker);
  border-radius: 0.65em 0 0 0.65em;
  box-shadow: 0 0 0.65em 0 rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transform: translateX(100%);
}

div.toast-container > div.toast > div.content {
  padding: 0.5em 0.5em 0.5em 0.65em;
}

div.toast-container > div.toast > div.progress-bar {
  height: 0.25em;
  background-image: linear-gradient(to right, var(--color-darkest), var(--color-dark));
  border-radius: 0.125em;
  margin-left: auto;
}

@keyframes toast-progress-bar-finishing {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes toast-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: none;
  }
}

@keyframes toast-out {
  0% {
    transform: none;
  }
  100% {
    transform: translateX(100%);
  }
}