@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

* {
  padding: 0;
  margin: 0;

  font-family: 'Noto Sans SC';
  font-size: 12pt;

  transition: 0.2s;

  box-sizing: border-box;

  --color-main: #EBDEF0;
  --color-dark: #D7BDE2;
  --color-darker: #C39BD3;
  --color-darkest: #AF7AC5;
}

body {
  /* TODO */
}

div.main-panel {
  margin: 32pt;
  padding: 16pt;
  background-color: var(--color-main);
  border-radius: 8pt;
}

div.header-panel {
  text-align: center;
}

div.box {
  padding: 8pt;
  border: 2px solid var(--color-dark);
  border-radius: 4pt;
}

div.group-box {
  margin-top: 8pt;
  display: flex;
  flex-wrap: wrap;
}

div.group-box-header {
  position: absolute;
  margin-top: -18pt;
  margin-left: 8pt;
  background-color: var(--color-main);

  width: max-content;
  padding-left: 8pt;
  padding-right: 8pt;
}

span.header-school-name {
  font-size: 32pt;
  font-weight: 900;
}

span.header-project-name {
  font-size: 16pt;
}

.centered {
  align-self: center;
}

.grid-publish {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 6pt;

  width: 100%;
}

.input-box {
  background: none;
  outline: none;
  border: 2px solid var(--color-dark);
  padding: 2pt;
  border-radius: 4pt;

  width: 100%;
}

.input-box:hover, .input-box:focus:not(.no-focus) {
  border-color: var(--color-darker);
}

.input-box:active:not(.no-click) {
  border-color: var(--color-darkest);
}

textarea.content {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 32pt;
}

div.vertical-layout {
  display: flex;
  flex-direction: column;
}

.vertical-split {
  height: 16pt;
}